<div class="jumbotron alert-primary">
  <h1 class="display-4">Hello, world! I am Full Stack .NET Developer </h1>
  <p class="lead">This is a simple Angular Project is a platform that makes it easy to build applications with the web. Angular combines declarative templates, dependency injection, end to end tooling, and integrated best practices to solve development challenges.</p>
  <hr class="my-4">
  <p>Angular empowers developers to build applications that live on the web, mobile, or the desktop.</p>
  <p class="lead">
    <a class="btn btn-danger btn-lg float-right" href="/" role="button">Learn more</a>
  </p>
</div>